/*
--- 01 TYPOGRAPHY SYSTEM
  FONT SIZE SYSTEM (px)
  10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

-- FONT WEIGHT
Default: 400, 
Medium:500, 
semi-bold:600,
Bold:700

--- 02 COLORS
 #000
 #fff
 #777
 -- SPACING SYSTEM (px)
  2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

*/
/* CreateArea Component */

form.create-note {
  position: relative;
  width: 64rem;
  margin: 6.4rem auto 4.8rem auto;
  background: #fff;
  padding: 1.6rem;
  border-radius: 0.7rem;
  box-shadow: 0.4rem 0.3rem 0.8rem rgba(138, 137, 137, 0.5);
}

form.create-note input,
form.create-note textarea {
  width: 100%;
  border: none;
  padding: 0.8rem;
  outline: none;
  font-size: 2rem;
  font-weight: 300;
  color: #000;
  font-family: inherit;
  resize: none;
}

form.create-note button {
  position: absolute;
  top: 95%;
  left: 95%;
  transform: translate(-50%, -50%);

  background: #777;
  font-size: 2.4rem;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 4.2rem;
  height: 4.2rem;
  box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.3);
  cursor: pointer;
  outline: none;
  transition: all 0.4s;
}
